body {
    font-size: 20px;
    background-color: white;
    font-family: 'Poppins', sans-serif;
}
.header {
    width: 70%;
    margin: 30px auto;
    text-align: center;
    color: black;
    background: white;
    border: 1px solid black;
    border-radius: none;
}
form {
    width: 47%;
    margin: 30px auto;
    border-radius: none;
    padding: 20px;
    background: white;
    border: 1px solid black;
}
.task_input {
    width: 87%;
    height: 15px;
    padding: 10px;
    border: 0.5px solid black;
}
.add_btn {
    height: 36px;
    background:white;
    color: black;
    border: 0.5px solid black;
    border-radius: none;
    padding: 5px 20px;
    font-weight: bold;
}
form p {
    color: blueviolet;
    margin: 0px;
}
table {
    width: 60%;
    margin: 30px auto;
    border-collapse: collapse;
}
tr {
    border-bottom: 0.5px solid white;
}
th {
    font-size: 19px;
    color: black;
}
th, td {
    border: none;
    height: 30px;
    padding: 2px;
}
tr:hover {
    background: whitesmoke;
}
.task {
    text-align: center;
}
.erase {
    text-align: left;
}
.erase a{
    color: white;
    background: lightskyblue;
    padding: 1px 6px;
    border-radius: 4px;
    text-decoration: none;
}
.edit {
    text-align: center;
}
.edit a{
    color: white;
    background: lightskyblue;
    padding: 1px 6px;
    border-radius: 4px;
    text-decoration: none;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
 }
.open-button {
    background-color: whitesmoke;
    color: grey;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 80px;
    left: 0px;
    width: 150px;
  }
  .form-popup {
    display: none;
    position: fixed;
    bottom: 10px;
    left: 0px;
    z-index: 9;
    font-size: 15px;
  }
  .form-container {
    max-width: 200px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: -20px;
    background-color: white;
  }
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  .form-container .btn {
    background-color: lightskyblue;
    color: black;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  .form-container .cancel {
    background-color: blueviolet;
  }
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }